$breakpoint-accordion-small-475: 30rem;
$breakpoint-accordion-medium-550: 34rem;

// grid section
.components-grid {
  padding: 1.25rem; // 20px/16
  max-width: 100rem; // 1600px/16

  @media (min-width: $breakpoint-scale-up) {
    padding: 5rem 8.5625rem; // top&bottom: 80px/16; left&right: 137px/16
  }

  @media (min-width: 100rem) {
    margin-inline: auto;
  }

  // grid heading
  &__heading {
    position: relative;
    font-family: Viga, sans-serif;
    font-size: map.get($font-sizes, "mobile-heading");
    margin-bottom: 3.125rem; // 50px/16
    font-weight: 400;
    line-height: 2.125rem; // 34px/16

    &::after {
      @include doodle;

      width: 7rem;
      height: 7rem;
      background-image: url("../../../public/images/doodles/doodle_line.svg");
      background-size: contain;
      rotate: 30deg;
      top: -1rem;
      left: 50vw;
      background-position: 0;

      @media (prefers-color-scheme: dark) {
        background-image: url("../../../public/images/doodles/pink_doodle_line.svg");
      }
    }

    @media (min-width: $breakpoint-scale-up) {
      font-size: map.get($font-sizes, "lg");

      &::after {
        display: none;
      }
    }
  }

  // grid list
  &__list {
    text-align: center;
    gap: 1rem;

    @media (min-width: $breakpoint-scale-up) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, minmax(0, 0.8fr));

      // grid-template-areas:
      //   "accordion dialog"
      //   "accordion disclosure"
      //   " tabs tabs"
      //   "max-scott max-scott";
    }

    @media (min-width: $breakpoint-grid-large-screen-1115) {
      grid-template-columns: unset;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: unset;
      grid-template-rows: repeat(3, minmax(0, 0.8fr));

      // grid-template-areas:
      //   "accordion dialog disclosure"
      //   "accordion tabs tabs"
      //   ". max-scott .";
    }
  }

  // grid items/component cards
  &__item {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 7.5rem; // to keep 'skinny' items from shrinking too much
    margin-bottom: 1.25rem;
    background-color: var(--light-background-color);
    text-align: center;
    align-items: flex-start;
    color: var(--font-color-dark);

    @media (min-width: $breakpoint-scale-up) {
      margin-bottom: 0;

      --row-start: auto;
      --row-span: 1;
      --column-start: auto;
      --column-span: 1;

      grid-row: var(--row-start, auto) / span var(--row-span, 1);
      grid-column: var(--column-start, auto) / span var(--column-span, 1);
    }

    &--accordion {
      --row-start: auto;
      --row-span: 2;
      --column-start: auto;
      --column-span: 1;

      // Accordion needs some special rules to match design.
      // Used here instead of _component-card b/c of --accordion modifier
      position: relative;
      overflow: hidden;

      @media (min-width: $breakpoint-scale-up) {
        overflow: visible;
      }

      img {
        position: absolute;
        top: 0;
        max-width: 25rem;
        align-self: center;
        height: auto !important; // override component-card height, which is more specific.

        @media (min-width: $breakpoint-scale-up) {
          position: relative;
          height: 70%;
          overflow: auto;
        }
      }
    }

    &--dialog {
      --row-start: auto;
      --row-span: 1;
      --column-start: auto;
      --column-span: 1;
    }

    &--disclosure {
      --row-start: auto;
      --row-span: 1;
      --column-start: auto;
      --column-span: 1;
    }

    &--tabs {
      --row-start: auto;
      --row-span: 1;
      --column-start: auto;
      --column-span: 2;
    }

    &--max-scott {
      --row-start: auto;
      --row-span: 1;
      --column-start: 2;
      --column-span: 1;

      background-color: transparent;
      height: auto;
      margin: auto;
      margin-top: 2rem;
      max-width: 80%;
      min-width: 12.625rem;

      img {
        width: 80%; // 250px
        max-width: 17.625rem; // 250px
        height: 100%;
      }
    }

    /* Add a squiggly line to every 5th list item, starting with the first */
    &:nth-child(5n-4) {
      position: relative;

      &::before {
        @include doodle;

        width: 30%;
        height: 10%;
        background-image: url("../../../public/images/doodles/doodle_line.svg");
        top: -5%;
        right: -5%;
        rotate: 30deg;
        background-size: contain;
        display: none;

        @media (prefers-color-scheme: dark) {
          background-image: url("../../../public/images/doodles/pink_doodle_line.svg");
        }

        @media (min-width: $breakpoint-scale-up) {
          display: inline-block;
        }
      }
    }

    /* Add a circle to every 5th list item, starting with second */
    &:nth-child(5n-3) {
      position: relative;

      &::before {
        @include doodle;

        width: 8%;
        height: 3rem;
        background-image: url("../../../public/images/doodles/doodle_o.svg");
        bottom: 3%;
        right: -3%;
        background-size: contain;
        display: none;

        @media (prefers-color-scheme: dark) {
          background-image: url("../../../public/images/doodles/pink_doodle_o.svg");
        }

        @media (min-width: $breakpoint-scale-up) {
          display: inline-block;
        }
      }
    }

    /* Add a diamond to every 5th list item, starting with third */
    &:nth-child(5n-2) {
      position: relative;

      &::before {
        @include doodle;

        width: 15%;
        height: 5rem;
        background-image: url("../../../public/images/doodles/doodle_diamond.svg");
        background-size: contain;
        rotate: 15deg;
        top: -6%;
        right: -6%;
        display: none;

        @media (prefers-color-scheme: dark) {
          background-image: url("../../../public/images/doodles/pink_doodle_diamond.svg");
        }

        @media (min-width: $breakpoint-scale-up) {
          display: inline-block;
        }
      }
    }

    /* Add an 'X' doodle to every 5th list item, starting with the fourth */
    &:nth-child(5n-1) {
      position: relative;

      &::before {
        @include doodle;

        width: 10%;
        height: 10%;
        background-image: url("../../../public/images/doodles/doodle_x.svg");
        background-size: contain;
        top: -3%;
        left: -1%;
        display: none;

        @media (prefers-color-scheme: dark) {
          background-image: url("../../../public/images/doodles/pink_doodle_x.svg");
        }

        @media (min-width: $breakpoint-scale-up) {
          display: inline-block;
        }
      }
    }

    /* Add an arrow to every 5th list item, starting with fifth */
    &:nth-child(5n) {
      position: relative;

      &::before {
        @include doodle;

        width: 20%;
        height: 20%;
        background-image: url("../../../public/images/doodles/doodle_arrow.svg");
        background-size: contain;
        bottom: -15%;
        left: -5%;
        display: none;

        @media (prefers-color-scheme: dark) {
          background-image: url("../../../public/images/doodles/pink_doodle_arrow.svg");
        }

        @media (min-width: $breakpoint-scale-up) {
          display: inline-block;
        }
      }
    }

    /* Max is the last element and has unique doodle positions */
    &:last-child {
      position: relative;

      &::before {
        background-image: none;
      }

      .max-wrapper {
        &::before {
          @include doodle;

          width: 20%;
          height: 20%;
          transform: translateX(-2rem) translateY(0.25rem) rotate(-20deg);
          background-image: url("../../../public/images/doodles/doodle_diamond.svg");
          background-size: contain;
          display: inline-block;

          @media (prefers-color-scheme: dark) {
            background-image: url("../../../public/images/doodles/pink_doodle_diamond.svg");
          }
        }

        &::after {
          @include doodle;

          width: 40%;
          height: 25%;
          background-image: url("../../../public/images/doodles/doodle_line.svg");
          rotate: 20deg;
          bottom: -18%;
          right: -10%;
          background-size: contain;
          background-position: 0;

          @media (prefers-color-scheme: dark) {
            background-image: url("../../../public/images/doodles/pink_doodle_line.svg");
          }
        }
      }
    }
  }
}
