$breakpoint-increase-content-font-size: $breakpoint-scale-up;
$breakpoint-increase-codeblock-font: $breakpoint-scale-up;
$breakpoint-increase-padding: $breakpoint-scale-up;

.cmp-code-block {
  width: 100%;
  background-color: var(--background-color);

  &__heading {
    font-size: map.get($font-sizes, "mobile-heading");
    font-family: Viga, sans-serif;
    line-height: 2.125rem; // 34px/16
    margin-inline: auto;
    position: relative;

    &::after {
      content: "";
      background-image: url("../../../public/images/cmt_inventory_arrow.svg");
      transform: translateX(1rem) translateY(0.25rem) rotate(-30deg);
      position: absolute;
      top: 0;
      width: 2rem; // 32px
      height: 2.5rem; // 40px
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @media (prefers-color-scheme: dark) {
        filter: invert(1);
      }
    }

    @media (min-width: $breakpoint-increase-content-font-size) {
      font-size: map.get($font-sizes, "md");
      line-height: 2.5rem; // 40px/16

      &::after {
        width: 2.2rem;
        height: 2.9rem;
      }
    }
  }

  &__content {
    padding: 1.875rem 1.25rem; // top&bottom: 30px/16; left&right: 20px/16
    // background-color: map.get($colors, "white");
    color: var(--foreground-color);
    line-height: 1.75rem; // 28px/16
    font-size: map.get($font-sizes, "xs");
    font-family: Oxygen, sans-serif;
    letter-spacing: 0.02em; // 2% in Figma
    margin-top: 1rem;
    border: 2px solid var(--foreground-color);

    @media (min-width: $breakpoint-scale-up) {
      padding: 2.5rem 3.75rem; // top&bottom: 40px/16; left&right: 60px/16
      margin: 0;
    }
  }

  pre {
    margin: 0;
    white-space: pre;
    overflow-x: scroll;
    border: 2px solid transparent;
    outline: none;

    &:focus {
      border: 2px solid var(--accent-color);
    }
  }

  code {
    margin: 0;
    font-size: map.get($font-sizes, "xs");
    line-height: 1.75rem; // 28px/16
    letter-spacing: 0.02em; // 2% in Figma
    font-family: Oxygen, sans-serif;

    @media (min-width: $breakpoint-increase-codeblock-font) {
      font-size: map.get($font-sizes, "sm");
    }
  }
}
