$breakpoint-illustration-small: 30rem;
$breakpoint-illustration-medium: 43rem;
$breakpoint-illustration-large: $breakpoint-large-screen-860;

.component-link {
  display: block;
  outline: none;
  width: 100%;
  height: 100%;

  .component-card {
    display: flex;
    flex-direction: column-reverse;
    height: 21.875rem; // 350px/16
    width: 100%;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    border: 2px solid var(--foreground-color);

    img {
      transition: all 150ms ease-in-out;
      width: 100%;
      height: auto;
      margin: auto;
    }

    @media (prefers-color-scheme: dark) {
      border: 2px solid var(--background-color);
    }

    // the following breakpoints are where certain illustrations try to break out of their containers
    @media (min-width: $breakpoint-illustration-small) {
      height: 30rem; // 480px/16px
    }

    @media (min-width: $breakpoint-illustration-medium) {
      height: 40rem; // 640px/16px
    }

    @media (min-width: $breakpoint-illustration-large) {
      height: 100%;
    }

    &:hover img {
      scale: 102%;
    }

    &__header {
      font-family: "Oxygen Bold", sans-serif;
      z-index: 1;
      font-size: 1.125rem; // 18px/16
      line-height: 4.6667rem; // 75px
      letter-spacing: 0.02em;
      background-color: var(--light-background-color);
      position: relative;
      text-align: center;
      display: block;
      border-top: 0.25rem solid var(--foreground-color);

      @media (prefers-color-scheme: dark) {
        border-top: 0.25rem solid var(--background-color);
        background-color: var(--foreground-color);
      }

      @media (min-width: $breakpoint-scale-up) {
        font-size: map.get($font-sizes, "sm"); // 20px/16
      }

      &::after {
        content: url("../../../public/images/list_markers/teal-decorative-bullet.svg");
        position: relative;
        top: 0;
        left: 1rem; // 16px/16
      }

      &::before {
        content: url("../../../public/images/list_markers/teal-decorative-bullet.svg");
        position: relative;
        top: 0;
        left: -1rem; // 16px/16
      }
    }
  }

  &:focus .component-card {
    outline: none;
    border: 2px solid var(--accent-color);
  }
}
