.component-link {
  display: block;
  outline: none;
  width: 100%;
  height: 100%;

  .component-card {
    margin: 0;
    border: 2px solid black;
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: all 150ms ease-in-out;

    img {
      transition: all 150ms ease-in-out;
      width: 100%;
      height: auto;
      margin: auto;
    }

    &:hover img {
      scale: 102%;
    }

    &__header {
      font-weight: 700;
      font-size: 1.25rem; // 20px
      line-height: 4.6667rem; // 75px
      letter-spacing: 2%;
      text-align: center;
      display: block;
      border-top: 0.25rem solid map.get($colors, "black");
    }
  }

  &:focus .component-card {
    outline: none;
    border: 2px solid map.get($colors, "accent-teal");
  }
}
