$breakpoint-accordion-small-355: 22rem;
$breakpoint-accordion-small-390: 24rem;
$breakpoint-accordion-small-420: 26rem;
$breakpoint-accordion-small-460: 29rem;
$breakpoint-accordion-small-475: 30rem;
$breakpoint-accordion-medium-550: 34rem;
$breakpoint-accordion-medium-580: 36rem;
$breakpoint-accordion-medium-620: 39rem;
$breakpoint-accordion-medium-665: 42rem;
$breakpoint-accordion-medium-690: 43rem;
$breakpoint-accordion-large-755: 47rem;

// grid section
.components-grid {
  padding: 1.25rem; // 20px/16
  max-width: 100rem; // 1600px/16
  place-items: center;

  @media (min-width: $breakpoint-grid-large-screen-1115) {
    padding: 5rem 8.5625rem; // top&bottom: 80px/16; left&right: 137px/16
  }

  @media (min-width: 100rem) {
    margin-inline: auto;
  }

  // grid heading
  &__heading {
    position: relative;
    font-family: Viga, sans-serif;
    font-size: 1.5625rem; // 25px/16
    margin-bottom: 3.125rem; // 50px/16
    font-weight: 400;
    line-height: 2.125rem; // 34px/16

    &::after {
      @include doodle;

      width: 50%;
      height: 5rem;
      background-image: url("../../../public/images/doodles/doodle_line.png");
      background-size: 80%;
      rotate: -10deg;
      top: 0.5rem;
      right: 4rem;
      background-position: 0;
    }

    @media (min-width: $breakpoint-grid-large-screen-1115) {
      font-size: map.get($font-sizes, "lg");

      &::after {
        display: none;
      }
    }
  }

  // grid list
  &__list {
    text-align: center;

    @media (min-width: $breakpoint-grid-large-screen-1115) {
      display: grid;
      gap: 1rem;
      list-style: none;
      grid-template-areas:
        "accordion dialog disclosure"
        "accordion tabs tabs"
        ". max-scott .";
    }
  }

  // grid items/component cards
  &__item {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1.25rem;
    background-color: var(--light-background-color);
    text-align: center;
    align-items: flex-start;
    color: var(--font-color-dark);

    @media (min-width: $breakpoint-grid-large-screen-1115) {
      margin-bottom: 0;
    }

    &--accordion {
      grid-area: accordion;
      overflow: hidden;

      @media (min-width: $breakpoint-grid-large-screen-1115) {
        position: static;
        overflow: visible;
      }

      img {
        position: absolute;
        bottom: -6rem;

        // the following breakpoints are where the accordion illustration starts breaking out of the container
        @media (min-width: $breakpoint-accordion-small-355) {
          bottom: -9rem;
        }

        @media (min-width: $breakpoint-accordion-small-390) {
          bottom: -12rem;
        }

        @media (min-width: $breakpoint-accordion-small-420) {
          bottom: -15rem;
        }

        @media (min-width: $breakpoint-accordion-small-460) {
          bottom: -18rem;
        }

        @media (min-width: $breakpoint-accordion-small-475) {
          bottom: -15rem;
        }

        @media (min-width: $breakpoint-accordion-medium-550) {
          bottom: -18rem;
        }

        @media (min-width: $breakpoint-accordion-medium-580) {
          bottom: -21rem;
        }

        @media only screen and (min-width: $breakpoint-accordion-medium-620) {
          bottom: -25rem;
        }

        @media only screen and (min-width: $breakpoint-accordion-medium-665) {
          bottom: -28rem;
        }

        @media only screen and (min-width: $breakpoint-accordion-medium-690) {
          bottom: -23rem;
        }

        @media (min-width: $breakpoint-accordion-large-755) {
          bottom: -28rem;
        }

        @media (min-width: $breakpoint-grid-large-screen-1115) {
          position: static;
          bottom: 0;
        }
      }
    }

    &--dialog {
      grid-area: dialog;
    }

    &--disclosure {
      grid-area: disclosure;
    }

    &--tabs {
      grid-area: tabs;
    }

    &--max-scott {
      grid-area: max-scott;
      background-color: transparent;
      max-width: 17.1875rem; // 275px/16
      height: auto;
      margin: auto;
    }

    /* Add a squiggly line to every 5th list item, starting with the first */
    &:nth-child(5n-4) {
      position: relative;

      &::before {
        @include doodle;

        width: 35%;
        height: 8%;
        background-image: url("../../../public/images/doodles/doodle_line.png");
        top: -5%;
        right: 0;
        rotate: -10deg;
        background-size: contain;
        display: none;

        @media (min-width: $breakpoint-grid-large-screen-1115) {
          display: inline-block;
        }
      }
    }

    /* Add a circle to every 5th list item, starting with second */
    &:nth-child(5n-3) {
      position: relative;

      &::before {
        @include doodle;

        width: 12%;
        height: 12%;
        background-image: url("../../../public/images/doodles/doodle_o.png");
        bottom: 7%;
        right: -6%;
        background-size: contain;
        display: none;

        @media (min-width: $breakpoint-grid-large-screen-1115) {
          display: inline-block;
        }
      }
    }

    /* Add a diamond to every 5th list item, starting with third */
    &:nth-child(5n-2) {
      position: relative;

      &::before {
        @include doodle;

        width: 20%;
        height: 20%;
        background-image: url("../../../public/images/doodles/doodle_diamond.png");
        background-size: contain;
        rotate: 15deg;
        top: -6%;
        right: -10%;
        display: none;

        @media (min-width: $breakpoint-grid-large-screen-1115) {
          display: inline-block;
        }
      }
    }

    /* Add an 'X' doodle to every 5th list item, starting with the fourth */
    &:nth-child(5n-1) {
      position: relative;

      &::before {
        @include doodle;

        width: 12%;
        height: 12%;
        background-image: url("../../../public/images/doodles/doodle_x.png");
        background-size: contain;
        top: -5%;
        left: -2%;
        display: none;

        @media (min-width: $breakpoint-grid-large-screen-1115) {
          display: inline-block;
        }
      }
    }

    /* Add an arrow to every 5th list item, starting with fifth */
    &:nth-child(5n) {
      position: relative;

      &::before {
        @include doodle;

        width: 30%;
        height: 30%;
        background-image: url("../../../public/images/doodles/doodle_arrow.png");
        background-size: contain;
        bottom: -15%;
        left: -5%;
        display: none;

        @media (min-width: $breakpoint-grid-large-screen-1115) {
          display: inline-block;
        }
      }
    }

    /* Max is the last element and has unique doodle positions */
    &:last-child {
      position: relative;

      &::before {
        @include doodle;

        width: 25%;
        height: 25%;
        background-image: url("../../../public/images/doodles/doodle_diamond.png");
        background-size: contain;
        display: inline-block;
        top: 0%;
        left: -15%;

        @media (min-width: $breakpoint-grid-large-screen-1115) {
          display: block;
        }
      }

      &::after {
        @include doodle;

        width: 60%;
        height: 25%;
        background-image: url("../../../public/images/doodles/doodle_line.png");
        rotate: -30deg;
        bottom: -5%;
        right: -28%;
        background-size: contain;
        background-position: 0;
      }
    }
  }
}
