.component-card {
  display: flex;
  flex-direction: column-reverse;
  cursor: pointer;
  transition: all 150ms ease-in-out;

  &:focus {
    border: 2px solid #01f5ac;
    outline: none;
  }

  img {
    transition: all 150ms ease-in-out;
    width: 100%;
    height: auto;
  }

  &:hover img {
    scale: 102%;
  }

  &__header {
    font-weight: 700;
    font-size: 1.25rem; // 20px
    line-height: 4.6667rem; // 28px
    letter-spacing: 2%;
    text-align: center;
    display: block;
    border-top: 0.25rem solid black;
  }
}
