$breakpoint-tablet: 820px;

.components {
  display: flex;
  border: 1px solid red;
  padding: 0;
  margin: 0;

    &-grid {
      border: 1px solid red;
      width: 100%;
      padding: 0;
      margin: 0;
    }

    &-grid__item {
      border: 1px solid blue;
      width: 100%;
    }

  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  &-grid {
    &__item {
      display: flex;
      justify-content: center;

      &--accordion {
        grid-area: accordion;
      }

      &--dialog {
        grid-area: dialog;
      }

      &--disclosure {
        grid-area: disclosure;
      }

      &--tabs {
        grid-area: tabs;
      }

      &--max-scott {
        grid-area: max-scott;
      }

      border: 1px solid blue;
      text-align: center;
      padding: 1rem;
    }
  }
}

@media only screen and (min-width: $breakpoint-tablet) {
  .components-grid {
    border: 1px solid blue;
    margin: auto;
    display: grid;
    max-width: calc(100vw - 2rem);
    grid-template-areas:
      "accordion dialog disclosure"
      "accordion tabs tabs"
      ". max-scott .";
  }

  .components-grid__item {
    &--accordion {
      grid-area: accordion;
    }

    &--dialog {
      grid-area: dialog;
    }

    &--disclosure {
      grid-area: disclosure;
    }

    &--tabs {
      grid-area: tabs;
    }

    &--max-scott {
      grid-area: max-scott;
    }

    border: 1px black solid;
    text-align: center;
    padding: 1rem;
  }
}
