$breakpoint-tablet: 820px;

.components-grid {
  width: 100%;
  text-align: center;
  padding: 1rem;

  @include background-pattern;

  &__item {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    background-color: white;
    text-align: center;
    align-items: flex-start;

    &--accordion {
      grid-area: accordion;
    }

    &--dialog {
      grid-area: dialog;
    }

    &--disclosure {
      grid-area: disclosure;
    }

    &--tabs {
      grid-area: tabs;
    }

    &--max-scott {
      grid-area: max-scott;
      background-color: transparent;
    }
  }
}

@media only screen and (min-width: $breakpoint-tablet) {
  .components-grid {
    display: grid;
    gap: 1rem;
    list-style: none;
    grid-template-areas:
      "accordion dialog disclosure"
      "accordion tabs tabs"
      ". max-scott .";

    &__item {
      &--accordion {
        grid-area: accordion;
      }

      &--dialog {
        grid-area: dialog;
      }

      &--disclosure {
        grid-area: disclosure;
      }

      &--tabs {
        grid-area: tabs;
      }

      &--max-scott {
        grid-area: max-scott;
      }
    }
  }
}
