$breakpoint-tablet: 820px;

.details-banner {
  background-image: url("../../../public/images/background_image.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    margin: 1.875rem 0; // top&bottom: 30px/16; left&right: 0
    line-height: 2.125rem; // 34px/16
    letter-spacing: 0;
    font-family: Viga, sans-serif;
    font-size: 1.5625rem; // 25px/16

    @media only screen and (min-width: $breakpoint-tablet) {
      font-size: map.get($font-sizes, "xl");
      line-height: 4.1875rem; // 67px/16
      margin: 2.5rem 0; // top&bottom: 40px/16; left&right: 0
    }
  }

  &-image {
    background-color: var(--light-background-color);

    img {
      width: 100%;
      max-height: 45rem;
    }
  }
}
