.details-banner {
  max-width: 82.875rem; // compensates for 8.5625rem padding on left/right

  @media only screen and (min-width: 100rem) {
    margin: auto;
  }

  h1 {
    margin: 1.875rem 0; // top&bottom: 30px/16; left&right: 0
    letter-spacing: 0;
    font-family: Viga, sans-serif;
    font-size: map.get($font-sizes, "mobile-heading");

    @media (min-width: $breakpoint-scale-up) {
      font-size: map.get($font-sizes, "xl");
    }
  }

  &-image {
    box-sizing: border-box;
    background-color: var(--background-color);
    border: 2px solid var(--foreground-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10%;

    img {
      max-width: 100%;
      min-width: 0;
      height: auto;
      max-height: 30rem; // 480px/16

      @media (prefers-color-scheme: dark) {
        filter: invert(1);
      }
    }

    & img:nth-child(2),
    & img:nth-child(3) {
      display: none;

      @media (min-width: $breakpoint-scale-up) {
        display: block;
      }
    }
  }

  &__header {
    padding: 0;
    margin-left: -1.25rem;

    @media (min-width: $breakpoint-scale-up) {
      margin-left: -8.5625rem;
    }
  }
}
