.details-page {
  &__header {
    width: 100%;
    margin: auto;
    background-image: url("../../../public/images/background_image.png");
    background-size: cover;
    background-position: center;
    padding: 0 1.25rem;

    @media (prefers-color-scheme: dark) {
      background-image: url("../../../public/images/background_image-light.svg");
    }

    @media (min-width: $breakpoint-scale-up) {
      padding: 5rem 8.5625rem;
      gap: 1rem;
    }
  }

  &__banner {
    width: 100%;
    margin: auto;
    background-color: map.get($colors, "accent-teal");

    &:last-child {
      @media (prefers-color-scheme: dark) {
        background-color: var(--background-color);
      }
    }
  }

  &__primary {
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
    width: 100%;
    margin: auto;
    padding: 3.75rem 1.25rem;
    max-width: 100rem; // 1600px;
    overflow: hidden;

    @media (min-width: $breakpoint-scale-up) {
      padding: 8.5625rem;
      gap: 1rem;
    }
  }

  &__secondary {
    position: relative;
    width: 100%;
    margin: auto;
    padding: 3.75rem 1.25rem;
    max-width: 100rem;

    @media (min-width: $breakpoint-scale-up) {
      padding: 5.875rem;
    }

    @media (prefers-color-scheme: dark) {
      &--related-components {
        background-color: var(--background-color);
      }
    }
  }
}
