$breakpoint-tablet: 820px;

.details-banner {
  line-height: 2.1rem; // 28px
  letter-spacing: 2%;

  h1 {
    font-size: 1.5625rem;
    font-weight: 400;
    margin: 1.875rem 0; // 30px
  }
}

.details-banner-image {
  box-sizing: border-box;
  background-color: white;
  border: 3px solid black;

  & img {
    width: 100%;
    max-height: 45rem;
  }
}

@media only screen and (min-width: $breakpoint-tablet) {
  .details-banner {
    h1 {
      font-size: 3.125rem;
      margin: 2.5rem 0;
    }
  }
}
