$breakpoint-footer-margin: 25em;

.default-footer {
  background-color: var(--background-color);
  width: 100%;
  position: relative;
  bottom: 0;
  padding: 1.25rem; // 20px/16

  // Content wrapper
  &__content {
    display: flex;
    flex-direction: column;
    gap: 2.25rem; // 60px/16
    text-align: center;
    padding: 1.5rem 0; /* top&bottom: 60px/16px; left&right: 0 */
    font-size: map.get($font-sizes, "xs");
    transition: 500ms color;
    letter-spacing: 0.02em; // 2% in Figma

    @media (min-width: $breakpoint-large-screen-860) {
      line-height: map.get($line-heights, "sm"); // 20px/20
    }
  }

  // Flex items of content wrapper
  &__item {
    color: var(--foreground-color);
    width: 100%;

    // the first line of the footer has a smaller margin-bottom than the rest of the footer items.
    // this compensates for that.
    &:first-child {
      margin-bottom: -1.25rem; // 30px/16

      @media (min-width: $breakpoint-scale-up) {
        margin-bottom: -1.5rem; // this is to compensate for the 17px line-height once at tablet size
      }
    }
  }

  // text-links
  &__item > a {
    text-decoration: underline;
    color: var(--font-color);
    background: linear-gradient(to left, transparent 50%, var(--accent-color) 50%);
    background-size: 201% 100%;
    background-position: right bottom;
    transition: ease-in-out all 250ms;
    outline: none;

    @media (prefers-reduced-motion: no-preference) {
      &:hover,
      &:focus-within {
        color: var(--font-color-dark);
        background-position: left bottom;
      }
    }

    @media (prefers-reduced-motion: reduce) {
      &:hover,
      &:focus-within {
        color: var(--font-color-dark);
        background-color: var(--accent-color);
      }
    }
  }

  // Container for social media icons
  &__links {
    margin: 0 1rem; // top&bottom: 0; left&right: 16px
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 16rem; // 325px/16
    position: relative;

    @media (min-width: $breakpoint-footer-margin) {
      margin: auto;
    }

    a {
      position: relative;
      outline: none;
      padding-right: 0.2rem;

      // each social media icon is an SVG with className="icon"
      .icon {
        fill: currentcolor;
        position: relative;
        bottom: 0;
        transition: all ease-in-out 150ms;
        width: 1.5rem; /* 24px */
        height: auto;
      }

      @media (prefers-reduced-motion: no-preference) {
        &:hover .icon,
        &:focus-within .icon {
          bottom: 0.5rem; // 8px/16
          fill: var(--accent-color-icons);

          @media (prefers-color-scheme: dark) {
            bottom: 0.5rem; // 8px/16
            fill: var(--accent-color);
          }
        }
      }

      @media (prefers-reduced-motion: reduce) {
        &:hover .icon,
        &:focus-within .icon {
          fill: var(--accent-color-icons);

          @media (prefers-color-scheme: dark) {
            fill: var(--accent-color);
          }
        }
      }
    }
  }
}
