$breakpoint-footer-margin: 25em;

.default-footer {
  background-color: var(--background-color);
  width: 100%;
  padding: 1.25rem; // 20px/16

  // Content wrapper
  &__content {
    display: flex;
    flex-direction: column;
    gap: 2.25rem; // 60px/16
    text-align: center;
    padding: 1.5rem 0; /* top&bottom: 60px/16px; left&right: 0 */
    font-size: map.get($font-sizes, "xs");
    letter-spacing: 0.02em; // 2% in Figma
    color: var(--foreground-color);
  }

  // Flex items of content wrapper
  &__item {
    width: 100%;

    // first line of text needs extra space below it.
    &:first-child {
      margin-bottom: -1.5rem; // 30px/16
    }

    // Underline links and give them animations
    &--text a {
      text-decoration: underline;
      color: var(--font-color);
      background: linear-gradient(to left, transparent 50%, var(--accent-color) 50%);
      background-size: 201% 100%;
      background-position: right bottom;
      transition: ease-in-out all 250ms;
      outline: none;

      @media (prefers-reduced-motion: no-preference) {
        &:hover,
        &:focus-within {
          color: var(--font-color-dark);
          background-position: left bottom;
        }
      }

      @media (prefers-reduced-motion: reduce) {
        &:hover,
        &:focus-within {
          color: var(--font-color-dark);
          background-color: var(--accent-color);
        }
      }
    }
  }

  // Container for social media icons
  &__icon-container {
    margin: auto; // top&bottom: 0; left&right: 16px
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 16rem; // 325px/16
    position: relative;

    a {
      position: relative;
      padding-right: 0.2rem;

      // classname on the <svg> tags
      .icon {
        fill: currentcolor;
        position: relative;
        bottom: 0;
        transition: all ease-in-out 150ms;
        width: 1.5rem; /* 24px */
        height: auto;
      }

      @media (prefers-reduced-motion: no-preference) {
        &:hover .icon,
        &:focus-within .icon {
          bottom: 0.5rem; // 8px/16
          fill: var(--accent-color-icons);

          @media (prefers-color-scheme: dark) {
            bottom: 0.5rem; // 8px/16
            fill: var(--accent-color);
          }
        }
      }

      @media (prefers-reduced-motion: reduce) {
        &:hover .icon,
        &:focus-within .icon {
          fill: var(--accent-color-icons);

          @media (prefers-color-scheme: dark) {
            fill: var(--accent-color);
          }
        }
      }
    }
  }
}
