.default-footer {
  background-color: var(--background-color);
  width: 100%;
  position: relative;
  bottom: 0;
  padding: 1.25rem; // 20px/16

  // Content wrapper
  &__content {
    min-height: 20.75rem; /* 332px/16 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3.75rem; // 60px/16
    text-align: center;
    padding: 3.75rem 0; /* top&bottom: 60px/16px; left&right: 0 */
    font-size: 1.125rem; /* 18px/16px */
    margin: auto;
    line-height: 1.5rem; /* 24px/16 */
    transition: 500ms color;
    letter-spacing: 0.02em; // 2% in Figma

    @media only screen and (min-width: $breakpoint-tablet) {
      line-height: 1.0625rem; /* 17px/16px */
      font-size: 1.25rem; /* 20px/16px */
    }
  }

  // Flex items of content wrapper
  &__item {
    //color: var(--foreground-color);
    width: 100%;

    // the first line of the footer has a smaller margin-bottom than the rest of the footer items.
    // this compensates for that
    &:first-child {
      margin-bottom: -1.875rem; // 30px/16
    }

    @media only screen and (min-width: $breakpoint-tablet) {
      &:first-child {
        margin-bottom: -43px; // this is to compensate for the 17px line-height once at tablet size
      }
    }
  }

  &__item a {
    text-decoration: underline;
    color: var(--font-color);
    background: linear-gradient(to left, transparent, var(--accent-color) 50%);
    background-size: 201% 100%;
    background-position: right bottom;
    transition: ease-in-out all 250ms;
    outline: none;
  }

  @media screen and (prefers-reduced-motion: no-preference) {
    &__item > a:hover,
    &__item > a:focus-within {
      background-position: left bottom;
    }
  }

  @media screen and (prefers-reduced-motion: reduce) {
    &__item > a:hover,
    &__item > a:focus-within {
      background-color: var(--accent-color-icons);
    }
  }

  // Container for icons that link to other websites
  &__links {
    margin: 0 1rem; // top&bottom: 24px; left&right: 0
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 325px;

    @media only screen and (min-width: 400px) {
      margin: auto;
    }

    a {
      height: 2.6875rem; // 43px/16
      min-width: 41px; /* 41px/16px */
      position: relative;
      outline: none;
    }

    img {
      position: absolute;
      min-width: 2.5625rem; /* 41px/16px */
      min-height: auto;
      bottom: 0;
      right: 0;
      transition: 200ms;
    }

    @media screen and (prefers-reduced-motion: reduce) {
      & a:hover > img,
      & a:focus-within > img {
        filter: invert(0.7);
      }
    }

    @media screen and (prefers-reduced-motion: no-preference) {
      a:hover > img,
      a:focus-within > img {
        filter: invert(0.7);
        bottom: 0.5rem; // 8px/16
      }
    }
  }
}
