$breakpoint-tablet: 820px;

// sparkbox header
.cmp-header {
  padding: 1rem; // 16px
  max-width: 100rem; // 1600px/16

  // anchor tag
  &__link {
    outline: none;

    // sparkbox logo image
    img {
      max-width: 12rem; // 192px/16
      width: 100%;
      height: auto;
      border: 2px solid transparent;
      transition: all 150ms ease-in-out;
    }

    &:focus img {
      border: 2px solid var(--accent-color);
    }

    @media (prefers-color-scheme: dark) {
      filter: invert(1);
    }
  }

  @media only screen and (min-width: $breakpoint-tablet) {
    padding: 1rem 1.25rem 0 8.5625rem; // top: 16px/16; right: 20px/16; bottom: 0; left: 137px/16
  }

  @media only screen and (min-width: 100rem) {
    margin: auto;
  }
}
