// sparkbox header
.cmp-header {
  padding: 1rem; // 16px
  max-width: 100rem; // 1600px/16

  // anchor tag
  &__link {
    outline: none;

    // sparkbox logo image
    svg {
      max-width: 12rem; // 192px/16
      width: 100%;
      height: auto;
      border: 2px solid transparent;
      transition: all 150ms ease-in-out;
      fill: currentcolor;
    }

    &:focus svg {
      border: 2px solid var(--accent-color);
    }
  }

  @media (min-width: $breakpoint-large-screen-860) {
    padding: 1rem 1.25rem 0 8.5625rem; // top: 16px/16; right: 20px/16; bottom: 0; left: 137px/16
  }

  @media (min-width: 100rem) {
    margin: auto;
  }
}
