// "accessible components" header
.cmp-header {
  padding: 1rem; // 16px
  max-width: 100rem; // 1600px/16
  letter-spacing: 0.02em; // other letter-spacing in Figma is the same
  font-size: map.get($font-sizes, "xs");
  color: var(--foreground-color);
  line-height: map.get($line-heights, "lg"); // approx. 22px/16

  @media (min-width: $breakpoint-scale-up) {
    padding: 1rem 1.25rem 1rem 8.5625rem; // top: 16px/16; right: 20px/16; bottom: 16px/16; left: 137px/16
    font-size: map.get($font-sizes, "sm");
  }

  @media (min-width: 100rem) {
    margin: auto;
  }

  // anchor tag
  &__link {
    outline: none;
    border-bottom: 2px solid transparent;
    transition: all 150ms ease-in-out;

    &:hover,
    &:focus {
      border-bottom: 2px solid var(--accent-color);
    }
  }
}
