$breakpoint-tablet: 820px;

.home {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;
  background-color: var(--background-color);
  color: var(--font-color);

  &-top__top-image {
    width: 100%;
    background-color: var(--background-color);
  }

  @media only screen and (min-width: $breakpoint-tablet) {
    &-top {
      display: flex;
      flex-basis: 100%;
      justify-content: space-between;

      &__text-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-basis: 50%;

        h1 {
          font-size: map.get($font-sizes, "xl");
        }
      }
    }
  }
}
