$breakpoint-top-section-margin: 70rem;
$breakpoint-top-section-scale-up: 70rem;

// listing/home page
// everything below the SB logo & above the footer
.home {
  @include background-pattern;

  width: 100%;

  &-wrapper {
    background-color: var(--background-color);
  }

  // hero section
  &-top {
    padding: 0 1.25rem; // top&bottom: 0; left&right: 20px/16
    background-color: var(--background-color);
    color: var(--foreground-color);
    max-width: 100rem; // 1600px/16

    @media (min-width: $breakpoint-top-section-margin) {
      margin: auto;
    }

    @media (min-width: $breakpoint-large-screen-860) {
      padding: 0 1.25rem 1.25rem 8.5625rem; // top&bottom: 0; right: 20px/16; left: 137px/16
      display: flex;
      flex-basis: 100%;
      justify-content: space-between;
      margin-top: 2rem;
    }
  }

  &-top__text-column {
    @media (min-width: $breakpoint-large-screen-860) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-basis: 0 0 60%;
      padding-right: 1.875rem; // 30px/16
    }

    h1 {
      font-size: 1.5625rem; // 25px/16
      font-weight: 400;
      line-height: 2.125rem; // 34px/16

      @media (min-width: $breakpoint-large-screen-860) {
        font-size: map.get($font-sizes, "md");
        margin: 0;
      }

      @media (min-width: $breakpoint-top-section-scale-up) {
        font-size: map.get($font-sizes, "xl");
        margin: 0;
        line-height: 4.1875rem; // 67px/16
      }
    }

    p {
      font-size: map.get($font-sizes, "xs");
      margin: 1.25rem 0 0; // top: 20px/16; bottom&left&right: 0
      line-height: 1.75rem; // 28px/16
      letter-spacing: 0.02em;
      max-width: 70ch;
    }
  }

  &-top__top-image {
    width: 100%;
    margin: 3.75rem 0; // top&bottom: 60px/16; left&right: 0

    @media (min-width: $breakpoint-large-screen-860) {
      margin: 0;
    }
  }
}
