$breakpoint-tablet: 820px;

.home {
  // border: 1px solid red;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;

  @media only screen and (min-width: $breakpoint-tablet) {
    &-top {
      display: flex;
      flex-basis: 100%;
      justify-content: space-between;

      &__text-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-basis: 50%;

        h1 {
          font-size: 2.5rem;
        }
      }
    }
  }

  &-top__top-image {
    width: 100%;
  }
}
