$breakpoint-tablet: 820px;

.rel-component {
  background-color: var(--accent-color);
  color: var(--font-color-highlight);
  padding: 6rem 2rem;
  display: flex;
  flex-wrap: wrap;

  @media (prefers-color-scheme: dark) {
    background-color: var(--background-color);
  }

  &__heading {
    max-width: 15rem;
    font-size: map.get($font-sizes, "md");
    font-family: Viga, sans-serif;
    margin: 0;
    position: relative;

    &::after {
      content: "";
      background-image: url("../../../public/images/cmt_inventory_arrow.svg");
      position: absolute;
      right: 65%;
      top: -5.5rem;
      width: 3.75rem; // 60px/16
      height: 4.6875rem; // 75px/16
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @media (prefers-color-scheme: dark) {
        filter: invert(1);
      }
    }

    @media only screen and (min-width: $breakpoint-tablet) {
      &::after {
        right: 6rem;
        top: -3.25rem;
        width: 2.875rem; // 46px/16
        height: 3.5625rem; // 57px/16
      }
    }
  }

  &__list {
    display: flex;
    max-height: 10rem;
    flex-flow: nowrap column;
    gap: 1rem;
    margin-top: 0.6rem;

    @media only screen and (min-width: $breakpoint-tablet) {
      gap: 1rem 6rem;
      flex-wrap: wrap;
      margin-top: 0;
    }
  }

  &__link {
    text-decoration: underline;
    transition: all ease-in-out 100ms;

    &:hover,
    &:focus {
      outline: 1px solid var(--foreground-color);
      text-decoration: none;
      transform: scale(1.04, 1.04);
    }

    @media (prefers-reduced-motion: reduce) {
      &:hover,
      &:focus {
        outline: 1px solid var(--foreground-color);
        text-decoration: none;
        transform: scale(1, 1);
      }
    }
  }
}
