$breakpoint-tablet: 820px;

.rel-component {
  background-color: var(--accent-color);
  color: var(--font-color-highlight);
  display: flex;
  gap: 1rem;
  flex-direction: column;

  @media (prefers-color-scheme: dark) {
    background-color: var(--background-color);
  }

  &__heading {
    position: relative;
    font-size: 25px;
    font-family: Viga, sans-serif;
    margin: 4rem 0;

    &::after {
      content: "";
      background-image: url("../../../public/images/cmt_inventory_arrow.svg");
      position: absolute;
      right: 65%;
      top: -5.5rem;
      width: 3.75rem; // 60px/16
      height: 4.6875rem; // 75px/16
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @media (prefers-color-scheme: dark) {
        filter: invert(1);
      }
    }

    @media only screen and (min-width: $breakpoint-tablet) {
      &::after {
        right: 6rem;
        top: -3.25rem;
        width: 2.875rem; // 46px/16
        height: 3.5625rem; // 57px/16
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.6875rem;
    padding: 1rem 0;
    text-align: left;
    font-size: 18px;
  }

  &__link {
    text-decoration: underline;
    transition: all ease-in-out 100ms;
    width: fit-content;

    &:hover,
    &:focus {
      outline: 1px solid var(--foreground-color);
      text-decoration: none;

      @media (prefers-color-scheme: dark) {
        outline: 1px solid var(--accent-color);
      }
    }

    @media (prefers-reduced-motion: reduce) {
      &:hover,
      &:focus {
        outline: 1px solid var(--foreground-color);
        text-decoration: none;
      }
    }
  }
  
  @media only screen and (min-width: $breakpoint-tablet) {
    flex-direction: row;
    gap: 15%;

    &__heading {
      margin-top: 1rem;
      max-width: 10rem;
    }

    &__list {
      display: flex;
      gap: 1rem 6rem;
      flex-grow: 2;
      font-size: map.get($font-sizes, "sm");
      flex-flow: wrap column;
      max-height: 10rem;
      align-self: left;
      text-align: left;
    }
  }
}
