$breakpoint-tablet: 1150px;

.cmp-specifications-block {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  line-height: 1.5625rem;
  letter-spacing: 0.02rem;

  &__wrapper {
    display: block;
  }

  &__heading {
    font-size: 1.5625rem;
    font-family: Viga, sans-serif;
    margin: 0;
  }

  &__content {
    font-size: map.get($font-sizes, "sm"); // 1.25rem, 20px/16
  }

  ul {
    line-height: 1.5625rem;
    margin-left: 2rem;
  }

  p {
    font-size: map.get($font-sizes, "xs");
  }

  li {
    position: relative;
    font-weight: 400;
    font-size: map.get($font-sizes, "xs");
    letter-spacing: 175%;

    &::before {
      content: "";
      background-image: url("../../../public/images/list_markers/teal-decorative-bullet.svg");
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      width: 0.6rem;
      height: 1rem;
      left: -1.5rem;
      top: 0.4rem;

      @media (prefers-color-scheme: dark) {
        background-image: url("../../../public/images/pink-decorative-bullet.svg");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  /* Adjacent sibling selector */
  li + li {
    margin-top: 1.5rem;
  }

  code {
    color: var(--code-color);
    font-family: Oxygen, sans-serif;
  }

  h3 {
    font-size: map.get($font-sizes, "xs");
    font-weight: 700;
  }

  a {
    text-decoration: underline;
    color: var(--foreground-color);
    transition: all ease-in-out 100ms;
    display: inline-block;
  }

  // hover/focus matched the footer text-links
  @media (prefers-reduced-motion: no-preference) {
    a:hover,
    a:focus {
      outline: 1px solid var(--foreground-color);
      text-decoration: none;

      @media (prefers-color-scheme: dark) {
        outline: 1px solid var(--accent-color);
      }
    }
  }

  // matches the related components text-links
  @media screen and (prefers-reduced-motion: reduce) {
    a {
      transition: all ease-in-out 100ms;

      &:hover,
      &:focus {
        outline: 1px solid var(--accent-color);
        text-decoration: none;
      }
    }
  }

  @media only screen and (min-width: $breakpoint-tablet) {
    // grid of data fields & content (.cmp-specifications-block)
    display: grid;
    column-gap: 5rem; // 80px /16
    row-gap: 2.5rem; // 40px
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "keyboard semantic"
      "focus focus"
      "aria aria"
      "additional .";

    p {
      font-size: map.get($font-sizes, "sm");
    }

    li {
      font-size: map.get($font-sizes, "sm");

      &::before {
        width: 0.8rem;
        height: 1rem;
        left: -1.5rem;
        top: 0.4rem;
      }
    }

    h3 {
      font-size: map.get($font-sizes, "sm");
    }

    &__heading {
      font-size: map.get($font-sizes, "md");
    }

    &__wrapper {
      margin: 0;
    }

    // keyboard interactions (1 column)
    &__wrapper:nth-child(1) {
      // border: 1px solid red;
      grid-area: keyboard;
    }

    // semantic elements (1 column)
    &__wrapper:nth-child(2) {
      // border: 1px solid blue;
      grid-area: semantic;
    }

    // aria roles & attributes (full width)
    &__wrapper:nth-child(3) {
      // border: 1px solid black;
      grid-area: aria;
      max-width: 75ch;
    }

    // focus expectations (full-width)
    &__wrapper:nth-child(4) {
      // border: 1px solid green;
      grid-area: focus;
      max-width: 75ch;
    }

    &__wrapper:last-child {
      li {
        padding: 0.25rem 0; // top&bottom: 4px/16
      }
    }
  }
}
