.cmp-specifications-block {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  line-height: 1.5625rem;
  letter-spacing: 0.02rem;

  @media (min-width: $breakpoint-specifications-grid-two-column) {
    grid-template-columns: 1fr 1fr;

    @supports (grid-template-rows: masonry) {
      grid-template-rows: masonry;
    }

    @supports not (grid-template-rows: masonry) {
      &__wrapper {
        --row-start: auto;
        --number-of-rows: 1;
        --column-start: auto;
        --number-of-columns: 1;

        max-width: 75ch;
        grid-row: var(--row-start, auto) / span var(--number-of-rows, 1);
        grid-column: var(--column-start, auto) / span var(--number-of-columns, 1);
      }
    }
  }

  &__wrapper {
    // checkmark doodle
    &:nth-child(1) {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 15rem;
        width: 3.5rem;
        height: 2.5rem;
        background-image: url("../../../public/images/doodles/doodle_checkmark.svg");
        background-size: 100%;
        background-repeat: no-repeat;

        @media (prefers-color-scheme: dark) {
          filter: invert(1);
        }
      }
    }

    // underline doodle
    &:nth-child(2) {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 0.5rem;
        top: 1.5rem;
        width: 6rem;
        height: 2.5rem;
        background-image: url("../../../public/images/doodles/doodle_underline.svg");
        background-size: 100%;
        background-repeat: no-repeat;

        @media (prefers-color-scheme: dark) {
          filter: invert(1);
        }
      }
    }

    @media (min-width: $breakpoint-grid-large-screen-1115) {
      // doodles at larger screen sizes
      &:nth-child(1) {
        &::after {
          top: 0;
          left: 19.5rem;
          width: 4.5rem;
          height: 3rem;
        }
      }

      &:nth-child(2) {
        &::after {
          width: 10rem;
          left: -0.5rem;
          top: 1.75rem;
        }
      }
    }
  }

  &__heading {
    font-size: map.get($font-sizes, "mobile-heading");
    line-height: map.get($line-heights, "lg"); // approx. 34px/24
    font-family: Viga, sans-serif;
    margin: 0;

    @media (min-width: $breakpoint-grid-large-screen-1115) {
      font-size: map.get($font-sizes, "md");
    }
  }

  &__content {
    font-size: map.get($font-sizes, "xs");
    line-height: map.get($line-heights, "lg"); // approx. 22px/16

    @media (min-width: $breakpoint-grid-large-screen-1115) {
      font-size: map.get($font-sizes, "sm");
    }

    ul {
      list-style-type: none;

      li {
        position: relative;
        margin: 1rem 0 1rem 1.9rem;
        font-size: map.get($font-sizes, "xs");
        line-height: map.get($line-heights, "xl"); // approx. 28px/16

        &::before {
          content: "";
          background-image: url("../../../public/images/list_markers/teal-decorative-bullet.svg");
          background-repeat: no-repeat;
          background-size: 80%;
          position: absolute;
          width: 0.8rem;
          height: 0.8rem;
          left: -1.75rem;
          top: 0.55rem;
        }

        @media (min-width: $breakpoint-scale-up) {
          font-size: map.get($font-sizes, "sm");
          line-height: map.get($line-heights, "lg"); // approx. 28px/20

          &::before {
            top: 0.6rem;
          }
        }

        @media (prefers-color-scheme: dark) {
          &::before {
            background-image: url("../../../public/images/list_markers/pink-decorative-bullet.svg");
          }
        }
      }
    }
  }

  code {
    color: var(--code-color);
    padding: 0 4px;
    border-radius: 0.5rem;
  }

  // accordion subheaders (not on every detail page)
  h3 {
    font-size: map.get($font-sizes, "xs");
    line-height: map.get($line-heights, "lg"); // approx. 22px/16
    font-weight: 700;

    @media (min-width: $breakpoint-grid-large-screen-1115) {
      font-size: map.get($font-sizes, "sm");
    }
  }

  a {
    text-decoration: underline;
    color: var(--foreground-color);
    transition: all ease-in-out 100ms;
    display: inline-block;

    // matches the related components text-links
    @media (prefers-reduced-motion: no-preference) {
      &:hover,
      &:focus {
        outline: 2px solid var(--foreground-color);
        text-decoration: none;

        @media (prefers-color-scheme: dark) {
          outline: 2px solid var(--accent-color);
        }
      }
    }
  }
}
