$breakpoint-usage-guidelines-display: 70rem;

.cmp-usage-guidelines {
  display: flex;
  flex-direction: column;
  margin: auto;
  letter-spacing: 0.02rem;
  background-color: var(--accent-color);
  color: var(--font-color-dark);

  @media (prefers-color-scheme: dark) {
    background-color: var(--accent-color-background);
    color: var(--font-color-dark);
  }

  @media (min-width: $breakpoint-usage-guidelines-display) {
    width: 100%;
    max-width: 100rem;
    padding-left: 1.25rem;
    display: flex;
    flex-direction: row;

    &__text {
      max-width: 60ch;
    }
  }

  &__heading {
    position: relative;
    font-family: Viga, sans-serif;
    font-weight: 400;
    font-size: map.get($font-sizes, "mobile-heading");
    line-height: map.get($line-heights, "lg"); // approx. 34px/24
    margin-top: 0;

    @media (min-width: $breakpoint-usage-guidelines-display) {
      font-size: map.get($font-sizes, "md");
    }
  }

  &__image {
    position: relative;
    width: 80%;
    max-width: 30rem;
    margin: 0 auto -3rem;

    @media (min-width: $breakpoint-usage-guidelines-display) {
      position: relative;
      width: 60%;
      max-width: 35rem;
      margin: -5rem auto;
    }
  }

  &__content {
    font-size: map.get($font-sizes, "xs");
    line-height: map.get($line-heights, "xl"); // 28px/16

    @media (min-width: $breakpoint-usage-guidelines-display) {
      font-size: map.get($font-sizes, "sm");
      line-height: map.get($line-heights, "lg"); // 28px/20
    }

    // needs more specific styles to override user agent stylesheet
    h3 {
      font-size: map.get($font-sizes, "xs");

      @media (min-width: $breakpoint-usage-guidelines-display) {
        font-size: map.get($font-sizes, "sm");
      }
    }

    ul {
      list-style-type: none;

      li {
        position: relative;
        margin: 1rem 0 1rem 1.9rem;
        font-size: map.get($font-sizes, "xs");
        line-height: map.get($line-heights, "xl"); // approx. 28px/16

        @media (min-width: $breakpoint-usage-guidelines-display) {
          font-size: map.get($font-sizes, "sm");
          line-height: map.get($line-heights, "lg"); // approx. 28px/20
        }

        &::before {
          content: "";
          background-image: url("../../../public/images/list_markers/emdash.svg");
          background-repeat: no-repeat;
          background-size: 80%;
          position: absolute;
          width: 1.25rem;
          height: 1rem;
          left: -1.75rem;
          top: 0.4rem;
        }
      }
    }
  }
}
