@font-face {
  font-family: Viga;
  src: url("../../../fonts/Viga/Viga-Regular.ttf");
}

@font-face {
  font-family: Oxygen;
  src: url("../../../fonts/Oxygen/Oxygen-Regular.ttf");
}

@font-face {
  font-family: "Oxygen Bold";
  src: url("../../../fonts/Oxygen/Oxygen-Bold.ttf");
}

@font-face {
  font-family: "Oxygen Light";
  src: url("../../../fonts/Oxygen/Oxygen-Light.ttf");
}
