@font-face {
  font-family: Viga;
  src: url("../../../fonts/Viga/Viga-Regular.ttf");
}

@font-face {
  font-family: Oxygen;
  src: url("../../../fonts/Oxygen/Oxygen-Regular.ttf");
}

@font-face {
  font-family: Oxygen;
  src: url("../../../fonts/Oxygen/Oxygen-Bold.ttf");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: Oxygen;
  src: url("../../../fonts/Oxygen/Oxygen-Light.ttf");
  font-weight: 400;
  font-style: normal;
}
