:root {
  @each $key, $value in $colors {
    --color-#{$key}: #{$value};
  }

  // functional-name: mapped color-name
  --background-color: var(--color-white);
  --foreground-color: var(--color-black);
  --light-background-color: var(--color-white);
  --accent-color: var(--color-accent-teal);
  --accent-color-icons: var(--color-accent-gray);
  --accent-color-background: var(--color-accent-pink);
  --font-color: var(--color-black);
  --font-color-highlight: var(--color-black);
  --code-color: var(--color-code-color-light-mode);

  @media (prefers-color-scheme: dark) {
    --background-color: var(--color-black);
    --foreground-color: var(--color-white);
    --accent-color: var(--color-accent-pink);
    --accent-color-background: var(--color-accent-teal);
    --font-color: var(--color-white);
    --font-color-dark: var(--color-black);
    --font-color-highlight: var(--accent-color);
    --code-color: var(--color-code-color-dark-mode);
  }
}
