@use "sass:map";
@import "./generics/fonts";
@import "./settings/colors";
@import "./tools/mixins";
@import "./components/home";
@import "./components/header";
@import "./elements/ul";
@import "./components/footer";
@import "./components/layout";
@import "./components/component-card";
@import "./components/component-grid";
@import "./components/specificationBlock";

html,
body {
  padding: 0;
  margin: 0;
  background-color: map.get($colors, "white");
  font-size: map.get($font-sizes, "sm");
  font-family:
    Oxygen,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: map.get($font-sizes, "xl");
  font-family: Viga, sans-serif;
}

* {
  box-sizing: border-box;
}

/* SETTINGS: variables, custom properties, etc. */

/* TOOLS: mixins, etc */

/* GENERIC: fonts, reset stylesheets, etc */
// @import './components/index.scss'; this file may have been renamed to _home!

/* ELEMENTS: html element selectors only */
// @import "./elements/ul";

/* LAYOUT/OBJECTS: objects, grids, flexbox etc */

/* COMPONENTS: most of the work goes here! BEM classes, headers/footers/carousels, etc */
// these will go be uncommented here, and deleted from line 1 after we refactor (otherwise the linter throws errors.
// @import "./components/home";
// @import "./components/header";
// @import "./components/componentCard";

/* VENDORS: third-party */

/* UTILITIES: one offs, display:hidden, backgrounds, margin, padding, etc */
