* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  font-size: map.get($font-sizes, "sm");
  color: var(--font-color);
  font-family:
    Oxygen,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: map.get($font-sizes, "xl");
  font-family: Viga, sans-serif;
  line-height: calc(1em + 0.5rem);
}
