$breakpoint-tablet: 820px;

@mixin background-pattern() {
  background: url("../../../public/images/background_image.png");
  background-size: 100%;

  @media screen and (prefers-color-scheme: dark) {
    background: url("../../../public/images/background_image_dark.svg");
  }

  @media only screen and (min-width: $breakpoint-tablet) {
    background-size: 30%;
  }
}

@mixin doodle {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  z-index: 2;
}
