@mixin background-pattern() {
  background: url("../../../public/images/background_image_light.svg");
  background-size: 100%;

  @media (prefers-color-scheme: dark) {
    background: url("../../../public/images/background_image_dark.svg");
  }

  @media (min-width: $breakpoint-scale-up) {
    background-size: 30%;
  }
}

@mixin doodle {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 2;
}
